body {
    background-color: lightblue;
}

.page-wrapper {
    /*padding: 0 175px 0 110px;*/
    margin: 0;
    position: relative;
}

/* Group 1 */
.intro {
    min-width: 470px;
    width: 100%;
}

header {
    padding-top: 20px;
	height: 87px;
    padding-bottom: 20px;
}

.summary {
    clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
    margin-top: 80px;
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
}

.preamble {
    /*clear: right; */
	padding: 0px 10px 0 10px;
}

/* Group 2 */
.supporting {
    padding-left: 10px;
    margin-bottom: 40px;
    margin-right: 175px;
    margin-left: 175px;
}

footer {
    text-align: center;
}

/* Group 3 */
.sidebar {
    margin-left: 600px;
    position: absolute;
    top: 100px;
    right: 0;
}

.sidebar .wrapper { 
	padding: 10px; 
	margin-top: 150px; 
	width: 160px; 
}
