@font-face {
    font-family: matrixFont;
    src: url(matrix2.ttf);
}

/*main elements*/
body {
    background: url(matrix3.gif);
    max-width: 100%;
    height: auto;
    color: green;
}

h3 {
    font-size: 20pt;
    font-family: matrixFont;
}

p {
    font-family: monospace;
}

p:hover {
    color: blue;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: blue;
}

.page-wrapper {
    /*padding: 0 175px 0 110px;*/
    margin: 100px;
    position: relative;
    background-color: black;
}

/* Group 1 */
.intro {
    min-width: 470px;
    margin-right: 175px;
}

header {
    padding: 20px 0 0 20px;
    background-color: black;
    /*margin-left: 175px;*/
    font-family: matrixFont;
    font-size: 25pt;
}


header h2 {
    margin-left: 50px;
}

.summary {
    clear: both; 
	margin: 20px 500px 20px 10px; 
	/*float: left;*/
    margin-top: 80px;
	font: italic 1.1em/2.2 georgia; 
	/*text-align: center;*/
}

.preamble {
    /*clear: right; */
	padding: 0px 10px 0 10px;
}

/* Group 2 */
.supporting {
    padding-left: 10px;
    margin-bottom: 40px;
    margin-right: 175px;
}

footer {
    text-align: center;
    padding: 10px;
}

footer a:link {
    font-family: matrixFont;
    text-decoration: none;
    font-size: 15pt;
}

/* Group 3 */
.sidebar {
    margin-left: 600px;
    position: absolute;
    top: 100px;
    right: 0;
}

.sidebar .wrapper { 
	padding: 10px; 
	margin-top: 150px; 
	width: 160px; 
}
