header {
    text-align: center;
}

body {
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
    ),
    url("pinkBlueLines.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    
}

#screen {
    text-align: center;
    background-image: url("screen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 680px;
    border:2px solid red;
    height: 560px;
}

/*
#gameScreen {
    z-index: 1;
}

main {
    z-index: 2;
}

nav {
    z-index: 3;
}
*/

/*
#container {
    display: flex;
    flex-direction: row;
}

main {
    flex: 0 1 80%;
    text-align: center;
}

aside {
    flex: 0 1 20%;
}
*/