@font-face {
    font-family: arcade;
    src: url(BarcadeFont.otf);
}

@font-face {
    font-family: pressStart;
    src: url(PressStart2P.ttf);
}

@keyframes startBlink {
    0% {color: #121212;}
    /*50% {color: #121212;}*/
    50% {color: white;}
    100% {color: #121212;}
}


body {
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
    ),
    url("pinkBlueLines.jpg");
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    
}



/*main*/
#container {
    display: flex;
    flex-direction: column;
}

#title {
    flex: 0 1 10%;
    padding: 0%;
    margin: 0%;
}

#gameSpace {
    flex: 0 1 30%;
    padding: 0%;
    margin: 0%;
}

#gameBody {
    flex: 0 1 60%;
    padding: 0%;
    margin: 0%;
}

/*title*/
#container1 {
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
}

#blankSpace {
    flex: 0 1 30%;
    padding: 0%;
    margin: 0%;
}

/*base top*/
#name {
    flex: 0 1 40%;
    font-family: arcade;
    font-size: 35pt;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid red;
    border-radius: 4px;
    padding: 0%;
    margin: 0%;
    padding-bottom: 5px;
    padding-top: .5%;
    width: 50%;
    height: 15%;
}

/*game*/
#container2 {
    display: flex;
    flex-direction: row;
}

/*base middle*/
#games {
    flex: 0 1 40%;
    text-align: center;
    width: 50%;
    height: 60%;
    padding: 0%;
    margin: 0%;
    border: 2px solid black;
}

#blankScreen {
    background-color: #121212;
    height: 400px;
}

/*box*/
#container3 {
    display: flex;
    flex-direction: row;
}

/*base bottom*/
#coin {
    flex: 0 1 40%;
    background-color: #0D0D0D;
    width: 50%;
    height: 500px;
    border: 1px solid black;
}

#joyStick {
    max-width: 45%;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 5%;
}

/*other stuff*/
#startBTN {
    border-radius: 50%;
    font-family: pressStart;
    color: white;
    background-color: red;
    float: right;
    height: 80px;
    width: 80px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 5%;
}

#pressStart {
    padding-top: 22%;
    font-family: pressStart;
    animation-name: startBlink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#displayGameList {
    padding-top: 10%;
}

#displayGameList, #blackjack, #snakeGame, #oregonTrail {
    background-color: #121212;
}

#displayGameList, button {
    font-family: pressStart;
}

#gameList {
    text-align: center;
    float: left;
    width: 60%;
}


#gameList button:hover {
    width: 60%;
    height: 30px;
    font-size: large;
    background-color: darkred;
}

.blackjack {
    background-color: darkgreen;
    width: 50%;
}

.trail {
    background-color: brown;
    width: 50%;
}

.snake { 
    background-color: green;
    width: 50%;
}

.tile {
    background-color: yellow;
    width: 50%;
}

.forza {
    background-color: darkslateblue;
    width: 50%;
}

.jokes {
    background-color: lightblue;
    width: 50%;
}

#blackjack, #cards {
    background-image: url("greenTable.jpeg");
    background-size: 100%;
    height: 100%;
}

/*blackjack*/
#dealer img, #player img {
    padding: 0 5px 0;
}

/*blackjack card size*/
#dealerCards img, #dealerCards2 img, #playerCards img {
    width: 20%;
}

#players {
    display: flex;
    flex-direction: row;
}

#player {
    flex: 0 1 50%;
    padding: 1%;
}

#dealer {
    flex: 0 1 50%;
    padding: 1%;
}



#winner {
    font-size: larger;
}

/*jokes*/
#jokesTitle {
    font-size: larger;
}

#displayJokes {
    padding-top: 10%;
    font-size: x-large;
}